html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.banner{
   background-image: url(../images/img-banner.jpg);
   /*
    * Image taken from https://www.pexels.com/photo/set-of-tool-wrench-162553/
    */
   background-position: 30% 30%;
   background-repeat:  no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-color: #DDDDDD;
   height: 260px;
}

.title{
    /*border: 3px solid black;*/
    font-size: 95px;
    font-weight: bold;
    font-family: 'Monoton', sans-serif;
    color: black;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}

.header{
    border: 3px solid black;
    background-color: #0074D9;
    height: 60px;
}

.header-text{
    /*border: 2px solid black;*/
    font-size: 30px;
    font-weight: bold;
    font-family: 'Shadows Into Light', sans-serif;
    text-align: center;
    color: white;
    margin-top: 7px;
}

.main-body{
    /*border: 3px solid orange;*/
    background-color: white;
}

.intro-head{
  /*border: 3px solid black;*/
  font-family: 'Poiret One', sans-serif;
  font-size: 46px;
  font-weight: bold;
  color: black;
  margin-top: 50px;
  margin-left: 20px;
}

.inbet-head{
  font-family: 'Poiret One', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #FF4136;
  text-shadow: 5px 4px 2px black;
}

.border{
  /*border: 3px solid black;*/
}

.round-img{
  border: 3px solid #FF851B;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.flip-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 4px solid black;
}

.img-cont{
  margin-top: 38%;
  position: relative;
  border-radius: 20px;
}

.img-trans{
  background-color: black;
  cursor: pointer;
}

.img-trans img{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.img-text{
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: "Shadows Into Light", serif;
  font-weight: bold;
  left: 36%;
  top: 36%;
  display: none;
}

.flat-img1{
  border: 4px solid #FF4136;
  border-radius: 20px;
  display: block;
  margin-top: 6%;
  height: 370px;

  background-image: url(../images/flatimg1.jpeg);
   /*
    * Image taken from https://www.pexels.com/photo/automobile-car-car-repair-classic-190537/
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #DDDDDD;
}

.flat-img2{
  border: 4px solid #FF4136;
  border-radius: 20px;
  display: block;
  margin-top: 6%;
  height: 370px;

  background-image: url(../images/flatimg2.jpeg);
   /*
    * Image taken from https://www.pexels.com/photo/action-asian-asphalt-auto-539858/
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #DDDDDD;
}

.flat-img3{
  border: 4px solid #FF4136;
  border-radius: 20px;
  display: block;
  margin-top: 6%;
  height: 370px;

  background-image: url(../images/flatimg3.jpg);
   /*
    * Image taken from https://www.pexels.com/photo/cafe-racer-frame-garage-making-1599/
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #DDDDDD;
}

.center-head{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.services{
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: black;
  list-style: none;
}

.get-text{
  border: 3px solid #FFDC00;
  border-radius: 20px;
  margin-top: 5%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 6px 12px;
}

.footer{
    border: 3px solid black;
    background-color: #2ECC40;
    height: 60px;
}

.footer-text{
    /*border: 2px solid black;*/
    font-size: 30px;
    font-weight: bold;
    font-family: 'Shadows Into Light', sans-serif;
    text-align: center;
    color: white;
    margin-top: 7px;
}

.footer-content{
    /*border: 3px solid black;*/
    background-color: #1a1a1a;
    height: 400px;
    color: white;
}

.footer-box{
  /*border: 3px solid white;*/
  margin-top: 10%;
}

.foot-head{
  font-size: 45px;
  font-family: 'Monoton', serif;
  color: white;
}

.list-presence{
  list-style: none;
  font-size: 26px;
  font-family: 'Shadows Into Light', sans-serif;
  color: #bfbfbf;
}

.list-contact{
  list-style: none;
  font-size: 22px;
  font-family: 'Shadows Into Light', sans-serif;
  color: #bfbfbf;
}

.aboutus-txt{
  padding: 4px 12px;
  font-size: 16px;
  font-family: 'Poiret One', sans-serif;
  color: #bfbfbf;
}

.social-fb{
  color: #3b5998;
  cursor: pointer;
}

.social-yt{
  color: #FF4136;
  cursor: pointer;
}

.social-tw{
  color: #0084b4;
  cursor: pointer;
}

.social-li{
  color: #0077B5;
  cursor: pointer;
}

.sec1{
  margin-top: 3%;
}

.sec2{
  margin-top: 22%;
}

.sec3{
  margin-top: 22%;
  height: 470px;
  background-image: url(../images/backimg1.jpeg);
   /*
    * Image taken from https://www.pexels.com/photo/road-landscape-nature-forest-39811/
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #DDDDDD;
  box-shadow: 0px 12px 6px 0px rgba(0,0,0,0.5);
}

.sec4{
  margin-top: 22%;
}

.sec5{
  margin-top: 20%;
  height: 470px;
  background-image: url(../images/bimg2.jpg);
   /*
    * Image taken from https://pixabay.com/en/car-repair-car-workshop-repair-shop-362150/
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #DDDDDD;
  box-shadow: 0px 12px 6px 0px rgba(0,0,0,0.5);
}

.sec6{
  margin-top: 20%;
}

.sec7{
  margin-top: 22%;
  height: 470px;
  background-image: url(../images/backimg3.jpeg);
   /*
    * Image taken from https://www.pexels.com/photo/bottle-equipment-factory-fix-280014/
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #DDDDDD;
  box-shadow: 0px 12px 6px 0px rgba(0,0,0,0.5);
}

.sec8{
  margin-top: 22%;
  height: 470px;
  background-image: url(../images/backimg3.jpeg);
   /*
    * Image taken from https://www.pexels.com/photo/bottle-equipment-factory-fix-280014/ ()
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #DDDDDD;
  box-shadow: 0px 12px 6px 0px rgba(0,0,0,0.5);
}

.sec9{
  margin-top: 22%;
  height: 470px;
  margin-bottom: 22%;
  background-image: url(../images/backimg3.jpeg);
   /*
    * Image taken from https://www.pexels.com/photo/bottle-equipment-factory-fix-280014/
    */
  background-position: center center;
  background-repeat:  no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #DDDDDD;
  box-shadow: 0px 12px 6px 0px rgba(0,0,0,0.5);
}

